<table class="ui very basic table">
  <thead>
  	<th class="center aligned one wide">ID</th>
    <th>Name</th>
    <th>Desc</th>
    <th>Frequency</th>
    <th class="two wide">Action</th>
  </thead>

  <tbody>
    <% @defaultitems.each do |item| %>
      <tr>
        <td class="center aligned"><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.desc %></td>
        <td>
          <% if item.frequency.count == 7 %>
            <span class="ui mini grey label">
              DAILY
            </span>
          <% else %>
            <% item.frequency.each do |date| %>
              <span class="ui mini label">
                <%= date[0..2].upcase %>
              </span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to toggle_defaultitems_path(item) do %>
            <button class="ui fluid <%= item.active? ? 'green' : "orange" %> mini button">
              <%= item.active? ? 'Deactivate' : "Activate" %>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
