<div class="four wide column">
	<div class="ui segment" id="todolist">
		<h3 class="ui header">
			To Do List
		</h3>
		<div class="ui divider"></div>
		<%= render 'todolists/editable_list' %>
	</div>
</div>
<div class="twelve wide column">
	<div class="ui pointing menu">
	  <a href="/"
	  	 class="<%= 'active' if @n_o_calendar == 1  %> item">
	    Single Month
	  </a>
	  <a href="?multiple_calendar=3"
	  	 class="<%= 'active' if @n_o_calendar == 3  %> item">
	    Last 3 Months
	  </a>
	  <a href="?multiple_calendar=6"
	  	 class="<%= 'active' if @n_o_calendar == 6  %> item">
	    Last 6 Months
	  </a>
	  <div class="right menu">
	    <div class="item">
	      <div class="ui transparent icon input">
	        <input type="text" placeholder="Filter by task...">
	        <i class="filter link icon"></i>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui segment">
		<div id="calendar_view"
				 class="ui <%= @list_groups.count > 1 ? 'three' : 'one' %> column grid"
				 data-n-o-calendar="<%= @list_groups.count %>">
				<% @list_groups.each_with_index do |group, index| %>
					<div class="column">
						<div id='calendar-<%= index + 1 %>'
								 data-list="<%= JSON.generate process_event(group[1]) %>"
								 data-month="<%= group[0] %>">
						</div>
					</div>
				<% end %>
		</div>
	</div>
</div>


<div class="ui small modal" id="item_detail">
  <i class="close icon"></i>
  <div class="header" id="item_name">
  </div>
  <div class="image content">
    <div class="description">
    </div>
  </div>
</div>
