<div class="sixteen wide column">
	<div class="ui pointing menu">
	  <a href="/" class="active item">
	    Single Month
	  </a>
	  <a href="?multiple_calendar=3" class="item">
	    Last 3 Months
	  </a>
	  <a href="?multiple_calendar=6" class="item">
	    Last 6 Months
	  </a>
	  <div class="right menu">
	    <div class="item">
	      <div class="ui transparent icon input">
	        <input type="text" placeholder="Search...">
	        <i class="search link icon"></i>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui segment">
			<div id="calendar_view"
					 class="ui <%= @list_groups.count > 1 ? 'three' : 'one' %> column grid"
					 data-n-o-calendar="<%= @list_groups.count %>">
					<% @list_groups.each_with_index do |group, index| %>
						<div class="column">
							<div id='calendar-<%= index + 1 %>'
									 data-list="<%= JSON.generate process_event(group[1]) %>"
									 data-month="<%= group[0] %>">
							</div>
						</div>
					<% end %>
			</div>
	</div>
</div>
