<div id="main_container" data-events="<%= JSON.generate @events %>">
	<div class="ui borderless menu">
	  <div class="header item">
	  	<%= image_tag 'calendaroo.svg', class: 'logo' %>
	    Calendaroo
	  </div>
	  <% if current_user %>
	  	<a href="/admins" class="item">
	    	Settings
	  	</a>
	  <% end %>
	  <div class="right menu">
	  	<div class="item">
	  		<% if current_user %>
		    	<%= link_to destroy_user_session_path, method: 'delete' do %>
		      	<button class="ui basic button">
		      		<i class="power icon"></i>
		      		Log Out
		      	</button>
		      <% end %>
			  <% else %>
			  	<%= link_to new_user_session_path do %>
			  		<button class="ui basic button">
			    		<i class="power icon"></i>
			    		Sign in
			    	</button>
			    <% end %>
		  	<% end %>
	  	</div>
	  </div>
	</div>
	<div class="ui grid">
		<% if current_user %>
			<%= render 'homes/current_user_view' %>
		<% else %>
			<%= render 'homes/visitor_view' %>
		<% end %>
	</div>
</div>


<%= render 'todolists/date_list_modal' %>
